body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
    background-color: rgb(59, 57, 57);
    color: whitesmoke;
    margin-top: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

/* Left Section (Total Expenses) */
.total-section {
    flex: 1;
    margin-right: 20px;
}

h3 {
    color: #333;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Right Section (Add Item Form) */
.form-section {
    flex: 0.5;
    margin-right: 2%;
}

.form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.file-buttons {
    margin-top: 20px;
}
